.Company-job {
  display: inline-block;
  margin: 25px;
  width: 400px;
}

.Company {
  width: 100vw;
  height: 100%;
  display: block;
  position: relative;
}

.Company::after {
  content: '';
  background: url('https://images.pexels.com/photos/443383/pexels-photo-443383.jpeg?h=2000');
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
