.SignUpForm-form {
  display: inline-block;
  margin-top: 100px;
}

.SignUpForm {
  margin: auto;
  border-radius: 5px;
  width: 500px;
  height: 700px;
  background-color: rgba(31, 40, 51, 0.65);
}

.SignUpForm-input {
  margin-bottom: 25px;
}

.SignUpForm-button.btn.btn-secondary {
  background-color: rgba(0, 0, 0, 0);
  color: #66fcf1;
  border: 1px solid #45a29e;
  margin-top: 25px;
}

.SignUpForm-button.btn.btn-secondary:hover {
  background-color: #66fcf1;
  color: #0b0c10;
}
